In [1]:
# import dependencies
import requests
import time
import json
from sqlalchemy import create_engine
import pandas as pd
import random 

# import api key
from password import carskey

In [4]:
# load in csv 
cars_file = "../load-csv/vehicles_final.csv"
cars_df = pd.read_csv(cars_file)
len(cars_df)

32189

In [14]:
unique_vin = cars_df.drop_duplicates()
len(unique_vin)

25563

In [23]:
filtered_df = unique_vin[unique_vin['price']>0]
len(filtered_df)
filterd_df.head()

,vin,price,condition,fuel,size,type,odometer,state,lat,long
0,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
1,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
2,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
3,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
4,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [29]:
filter_vin = filtered_df[filtered_df.vin.str.len() > 10]
len(filter_vin)

23535

In [33]:
print(filter_vin['vin'])

0        1GTHK23D57F102022
1        1FTFW1ET4CFC98801
2        2CNFLGEW7A6215676
3        1GNKVGEDXBJ124683
4        1FM5K8D85EGC51332
               ...
32184    1D4PU4GX6BW517450
32185    4S4BRBLC2E3222010
32186    5NMS2CAD6KH129627
32187    JTDZN3EU4D3218193
32188    JF2SHADC8CH441457
Name: vin, Length: 23535, dtype: object

In [34]:
# putting vin numbers from df to list
vin_list = ['1GTHK23D57F102022','1FTFW1ET4CFC98801','2CNFLGEW7A6215676','1GNKVGEDXBJ124683','1FM5K8D85EGC51332']

In [35]:
# loop through cars in vin list to get information, place in empyt list

car_value_list = []

for car in vin_list: 
    print(car)
    
#     getting car specifications
    search_url = "http://api.carsxe.com/specs?key="+carskey+"&vin="+car
    

    try:
        response = requests.get(search_url)
        car_json = response.json()

        if car_json['success'] == True:
            # creat car dictionary
            car_dict = {
            "Vin": car,
            "Year": car_json['attributes']['year'] if "year" in car_json['attributes'] else None,
            "Make": car_json['attributes']['make'] if "make" in car_json['attributes'] else None,
            "Model": car_json['attributes']['model'] if "model" in car_json['attributes'] else None,
            "Style": car_json['attributes']['style'] if "style" in car_json['attributes'] else None,
            "Type": car_json['attributes']['type'] if "type" in car_json['attributes'] else None,
            "Doors": car_json['attributes']['doors'] if "doors" in car_json['attributes'] else None,
            "Fuel Type": car_json['attributes']['fuel_type'] if "fuel_type" in car_json['attributes'] else None,
            "City Mileage": car_json['attributes']['city_mileage'] if "city_mileage" in car_json['attributes'] else None,
            "Highway Mileage": car_json['attributes']['highway_mileage'] if "highway_mileage" in car_json['attributes'] else None,
            "Engine Type": car_json['attributes']['engine'] if "engine" in car_json['attributes'] else None,
            "Transmission": car_json['attributes']['transmission_short'] if "transmission_short" in car_json['attributes'] else None,
            "Drivetrain": car_json['attributes']['drivetrain'] if "drivetrain" in car_json['attributes'] else None,
            "MSRP": car_json['attributes']['manufacturer_suggested_retail_price'] if "manufacturer_suggested_retail_price" in car_json['attributes'] else None,
            }

            # push to car_value_list
            car_value_list.append(car_dict)

        else:
            pass
    except:
        pass

1GTHK23D57F102022
1FTFW1ET4CFC98801
2CNFLGEW7A6215676
1GNKVGEDXBJ124683
1FM5K8D85EGC51332

In [38]:
car_value_list[0]

{'Vin': '1GTHK23D57F102022',
 'Year': '2007',
 'Make': 'GMC',
 'Model': 'Sierra Classic 2500HD',
 'Style': 'CREW CAB PICKUP 4-DR',
 'Type': 'Pickup',
 'Doors': '4',
 'Fuel Type': 'Gasoline',
 'City Mileage': '',
 'Highway Mileage': '',
 'Engine Type': '6.6L V8 OHV 32V TURBO DIESEL',
 'Transmission': '4A | 5M | 6A | 6M',
 'Drivetrain': '4WD',
 'MSRP': '$32,690 USD'}

In [40]:
car_value_df = pd.DataFrame(car_value_list)

In [43]:
car_value_df.to_csv('practice_data.csv',index=False)