In [1]:
# Postgres won't handle NaN data so we need to change it to NULL for import
import pandas as pd

merged_data = pd.read_csv('vehicles_final.csv')

merged_data.head()

,vin,price,condition,fuel,size,type,odometer,state,lat,long
0,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
1,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
2,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
3,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
4,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [2]:
merged_data_clean = merged_data.fillna('NULL')
merged_data_clean.head()

,vin,price,condition,fuel,size,type,odometer,state,lat,long
0,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
1,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
2,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
3,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
4,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [3]:
merged_data_clean.to_csv('../Car_API_Call/merged_data_for_load.csv', index=False)

In [4]:
merged_data_clean.columns

Index(['vin', 'price', 'condition', 'fuel', 'size', 'type', 'odometer',
       'state', 'lat', 'long'],
      dtype='object')