In [1]:
import pandas as pd

data_file = 'vehicles.csv'

In [2]:
# create data frame from loaded file
car_data = pd.read_csv(data_file)
car_data.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,county,state,lat,long
0,7184791621,https://duluth.craigslist.org/ctd/d/duluth-200...,duluth / superior,https://duluth.craigslist.org,6995,2000.0,gmc,new sierra 1500,excellent,8 cylinders,...,4wd,NaN,NaN,red,https://images.craigslist.org/00n0n_f06ykBMcdh...,2000 *** GMC New Sierra 1500 Ext Cab 157.5 WB...,NaN,mn,46.8433,-92.2550
1,7184773187,https://duluth.craigslist.org/cto/d/saginaw-20...,duluth / superior,https://duluth.craigslist.org,8750,2013.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,NaN,grey,https://images.craigslist.org/00d0d_kgZ6xoeRw2...,For Sale: 2013 Hyundai Sonata GLS - $8750. O...,NaN,mn,46.9074,-92.4638
2,7193375964,https://newhaven.craigslist.org/cto/d/stratfor...,new haven,https://newhaven.craigslist.org,10900,2013.0,toyota,prius,good,4 cylinders,...,fwd,NaN,NaN,blue,https://images.craigslist.org/00d0d_3sHGxPbY2O...,2013 Prius V Model Two. One owner—must sell my...,NaN,ct,41.1770,-73.1336
3,7195108810,https://albuquerque.craigslist.org/cto/d/albuq...,albuquerque,https://albuquerque.craigslist.org,12500,2003.0,mitsubishi,lancer,good,4 cylinders,...,4wd,mid-size,sedan,grey,https://images.craigslist.org/00m0m_4a8Pb6JbMG...,"2003 Mitsubishi Lancer Evolution, silver. Abo...",NaN,nm,35.1868,-106.6650
4,7184712241,https://duluth.craigslist.org/ctd/d/rush-city-...,duluth / superior,https://duluth.craigslist.org,16995,2007.0,gmc,sierra classic 2500hd,good,8 cylinders,...,4wd,full-size,truck,white,https://images.craigslist.org/01414_g093aPtSMW...,"**Bad Credit, No Credit... No Problem!**2007 G...",NaN,mn,45.6836,-92.9648

In [3]:
# review rows
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423857 entries, 0 to 423856
Data columns (total 25 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            423857 non-null  int64
 1   url           423857 non-null  object
 2   region        423857 non-null  object
 3   region_url    423857 non-null  object
 4   price         423857 non-null  int64
 5   year          328743 non-null  float64
 6   manufacturer  313242 non-null  object
 7   model         325384 non-null  object
 8   condition     176719 non-null  object
 9   cylinders     197679 non-null  object
 10  fuel          327214 non-null  object
 11  odometer      270585 non-null  float64
 12  title_status  327759 non-null  object
 13  transmission  328065 non-null  object
 14  vin           184420 non-null  object
 15  drive         231119 non-null  object
 16  size          102627 non-null  object
 17  type          241157 non-null  object
 18  paint_color   222203 non-null  object
 19  image_url     329661 non-null  object
 20  description   329654 non-null  object
 21  county        0 non-null       float64
 22  state         423857 non-null  object
 23  lat           324404 non-null  float64
 24  long          324404 non-null  float64
dtypes: float64(5), int64(2), object(18)
memory usage: 80.8+ MB

In [4]:
# filter out empty values for important data points
car_data_filtered = car_data.loc[(car_data['drive'].notnull()) & (car_data['vin'].notnull()) & (car_data['state'].notnull()) & (car_data['lat'].notnull()) & (car_data['long'].notnull()) & (car_data['odometer'].notnull()) & (car_data['manufacturer'].notnull()) & (car_data['condition'].notnull()) & (car_data['size'].notnull()) & (car_data['type'].notnull())]

In [5]:
car_data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32189 entries, 4 to 423849
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            32189 non-null  int64
 1   url           32189 non-null  object
 2   region        32189 non-null  object
 3   region_url    32189 non-null  object
 4   price         32189 non-null  int64
 5   year          32189 non-null  float64
 6   manufacturer  32189 non-null  object
 7   model         32046 non-null  object
 8   condition     32189 non-null  object
 9   cylinders     31520 non-null  object
 10  fuel          32189 non-null  object
 11  odometer      32189 non-null  float64
 12  title_status  32189 non-null  object
 13  transmission  32147 non-null  object
 14  vin           32189 non-null  object
 15  drive         32189 non-null  object
 16  size          32189 non-null  object
 17  type          32189 non-null  object
 18  paint_color   30933 non-null  object
 19  image_url     32189 non-null  object
 20  description   32189 non-null  object
 21  county        0 non-null      float64
 22  state         32189 non-null  object
 23  lat           32189 non-null  float64
 24  long          32189 non-null  float64
dtypes: float64(5), int64(2), object(18)
memory usage: 6.4+ MB

In [6]:
# create final dataframe for export
vehicles_final = car_data_filtered[['vin','price','condition','fuel','size','type','odometer','state','lat','long']]
vehicles_final.head()

,vin,price,condition,fuel,size,type,odometer,state,lat,long
4,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
5,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
6,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
7,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
8,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [7]:
vehicles_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32189 entries, 4 to 423849
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vin        32189 non-null  object
 1   price      32189 non-null  int64
 2   condition  32189 non-null  object
 3   fuel       32189 non-null  object
 4   size       32189 non-null  object
 5   type       32189 non-null  object
 6   odometer   32189 non-null  float64
 7   state      32189 non-null  object
 8   lat        32189 non-null  float64
 9   long       32189 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 2.7+ MB

In [8]:
# column 'size' info for PostgreSQL table
vehicles_final['vin'].map(lambda x: len(x)).max()

17

In [9]:
# export csv to load into PostgreSQL
vehicles_final.to_csv('vehicles_final.csv', index = False)