In [3]:
#  Merge Kaggle data (vehicles_final.csv) with API (practice_data.csv)
import pandas as pd

vehicles_csv = 'vehicles_final.csv'
api_csv = '..\car api call\practice_data.csv'

In [7]:
api = pd.read_csv(api_csv)
vehicles = pd.read_csv(vehicles_csv)

,vin,price,condition,fuel,size,type,odometer,state,lat,long
0,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
1,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
2,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
3,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
4,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [8]:
api.head()

,Vin,Year,Make,Model,Style,Type,Doors,Fuel Type,City Mileage,Highway Mileage,Engine Type,Transmission,Drivetrain,MSRP
0,1GTHK23D57F102022,2007,GMC,Sierra Classic 2500HD,CREW CAB PICKUP 4-DR,Pickup,4.0,Gasoline,NaN,NaN,6.6L V8 OHV 32V TURBO DIESEL,4A | 5M | 6A | 6M,4WD,"$32,690 USD"
1,1FTFW1ET4CFC98801,2012,Ford,F-150,CREW CAB PICKUP 4-DR,Pickup,NaN,Gasoline,14 - 15 miles/gallon,19 - 21 miles/gallon,3.5L V6 TURBO,6A,4WD,"$39,960 USD"
2,2CNFLGEW7A6215676,2010,Chevrolet,Equinox,SPORT UTILITY 4-DR,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,4.0,Gasoline,17 - 20 miles/gallon,24 - 27 miles/gallon,2.4L L4 DOHC 16V,6A,AWD,"$29,795 USD"
3,1GNKVGEDXBJ124683,2011,Chevrolet,Traverse,SPORT UTILITY 4-DR,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,4.0,Gasoline,16 miles/gallon,23 miles/gallon,3.6L V6 DOHC 24V,6A,AWD,"$33,865 USD"
4,1FM5K8D85EGC51332,2014,Ford,Explorer,SPORT UTILITY 4-DR,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,4.0,Gasoline,NaN,NaN,3.5L V6 DOHC 24V,6A,4WD,"$34,600 USD"

In [9]:
vehicles.head()

,vin,price,condition,fuel,size,type,odometer,state,lat,long
0,1GTHK23D57F102022,16995,good,diesel,full-size,truck,254217.0,mn,45.6836,-92.9648
1,1FTFW1ET4CFC98801,13995,good,gas,full-size,truck,188406.0,mn,45.6836,-92.9648
2,2CNFLGEW7A6215676,7995,good,gas,full-size,SUV,108124.0,mn,45.6836,-92.9648
3,1GNKVGEDXBJ124683,8995,good,gas,full-size,SUV,178054.0,mn,45.6836,-92.9648
4,1FM5K8D85EGC51332,10995,good,gas,full-size,SUV,170259.0,mn,45.6836,-92.9648

In [10]:
print(vehicles.columns)

Index(['vin', 'price', 'condition', 'fuel', 'size', 'type', 'odometer',
       'state', 'lat', 'long'],
      dtype='object')

In [11]:
print(api.columns)

Index(['Vin', 'Year', 'Make', 'Model', 'Style', 'Type', 'Doors', 'Fuel Type',
       'City Mileage', 'Highway Mileage', 'Engine Type', 'Transmission',
       'Drivetrain', 'MSRP'],
      dtype='object')

In [15]:
#  remove type from vehicles
vehicles_clean = vehicles[['vin', 'price', 'condition', 'fuel', 'size','odometer','state', 'lat', 'long']]

In [17]:
merged_data = pd.merge(api, vehicles_clean, left_on='Vin', right_on='vin')
del merged_data['vin']
merged_data.head()

,Vin,Year,Make,Model,Style,Type,Doors,Fuel Type,City Mileage,Highway Mileage,...,Drivetrain,MSRP,price,condition,fuel,size,odometer,state,lat,long
0,1GTHK23D57F102022,2007,GMC,Sierra Classic 2500HD,CREW CAB PICKUP 4-DR,Pickup,4.0,Gasoline,NaN,NaN,...,4WD,"$32,690 USD",16995,good,diesel,full-size,254217.0,mn,45.6836,-92.9648
1,1GTHK23D57F102022,2007,GMC,Sierra Classic 2500HD,CREW CAB PICKUP 4-DR,Pickup,4.0,Gasoline,NaN,NaN,...,4WD,"$32,690 USD",16995,good,diesel,full-size,254217.0,wi,45.6836,-92.9648
2,1FTFW1ET4CFC98801,2012,Ford,F-150,CREW CAB PICKUP 4-DR,Pickup,NaN,Gasoline,14 - 15 miles/gallon,19 - 21 miles/gallon,...,4WD,"$39,960 USD",13995,good,gas,full-size,188406.0,mn,45.6836,-92.9648
3,1FTFW1ET4CFC98801,2012,Ford,F-150,CREW CAB PICKUP 4-DR,Pickup,NaN,Gasoline,14 - 15 miles/gallon,19 - 21 miles/gallon,...,4WD,"$39,960 USD",13995,good,gas,full-size,188406.0,wi,45.6836,-92.9648
4,2CNFLGEW7A6215676,2010,Chevrolet,Equinox,SPORT UTILITY 4-DR,Sport Utility Vehicle (SUV)/Multi-Purpose Vehi...,4.0,Gasoline,17 - 20 miles/gallon,24 - 27 miles/gallon,...,AWD,"$29,795 USD",7995,good,gas,full-size,108124.0,mn,45.6836,-92.9648

In [18]:
#  output merged csv
merged_data.to_csv('../Car API Call/merged_data.csv', index=False)